.manual-page {
    min-height: 100vh;
    margin-bottom: 50px;
}

.manual-scrollspy {
    height: 100vh;
    overflow: auto;
}

.canvas-wrapper {
    display: inline-block;
    transform-origin: top left;
}

.manual-preview-color {
    text-align: center;
    color: #fff;
    min-height: 600px;
    padding: 40px 0;
}

.manual-font {
    word-wrap: anywhere;
}

.manual-image-wrapper {
    text-align: center;
    position: relative;
}

.manual-image-wrapper img {
    max-height: 319px;
}

.manual-image-wrapper.manual-image-square img {
    max-height: 319px;
}

.manual-image-wrapper.manual-image-horizontal img {
    max-height: 120px;
}

.manual-image-wrapper.manual-image-square-smaller img {
    max-height: 200px;
}

.manual-image-wrapper.manual-image-square-symbol {
    height: 416px;
}

.manual-image-wrapper.manual-image-square-symbol img {
    max-height: 200px;
}

.manual-image-wrapper.manual-image-vertical-big img {
    max-height: 200px;
}
