{% extends 'base.html.twig' %}

{% block content %}
    <p>
        <a href="{{ path('homepage') }}">Zpět</a>
    </p>

    {{ form_start(add_project_form) }}
    {{ form_row(add_project_form.name) }}

    <p>
        <input type="submit" name="submit" value="Vytvořit" class="btn btn-primary">
    </p>

    {{ form_end(add_project_form) }}
{% endblock %}
