{% extends 'base.html.twig' %}

{% block title_actions %}
    <div class="text-sm-end mb-3">
        <a href="{{ path('manual_preview', {'id': manual.id}) }}" class="btn btn-primary" target="_blank"><i class="ri-eye-fill"></i> Zobrazit manuál</a>
    </div>
{% endblock %}
